.infoForm {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: var(--text);
}

.infoForm td {
    background-color: var(--bg-main);
    padding: 12px;
    vertical-align: top;
    text-align: right;
    width: 70%;
    border: 1px solid var(--input-border);
    font-weight: bold;
}

.infoForm th {
    padding: 12px;
    vertical-align: top;
    text-align: left;
    border: 1px solid var(--input-border);
    background-color: var(--bg-main);
}

@media (max-width: 600px) {
    .infoForm td,
    .infoForm th {
        padding: 8px;
        font-size: 14px;
    }
    
    .infoForm td {
        width: 40%;
    }
}

.infoForm tr:hover {
    background-color: #bbbbbba2;
}

.infoForm td,
.infoForm th {
    transition: background-color 0.3s ease;
}
