.item, .completed {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    transition: background-color 0.3s;
    background-color: var(--task-bg);
    margin-bottom: 5px;
    border-radius: 5px;
}

.completed {
    background: var(--completed-task-bg);
    
}

.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
    accent-color: #007bff;
}

.text {
    margin-right: 20px;
    font-size: 20px;
}

.completed .text {
    text-decoration: line-through;
    color: var(--completed-text-color);
}

.item:hover {
    background-color: var(--task-hover-bg);
    cursor: pointer;
}

.deleteButton{
    float: right;
    color: rgba(194, 8, 8, 0.712);
    font-size: 24px
}

.editButton{
    color: rgba(16, 157, 192, 0.712);
    font-size: 24px
}